.root {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.children {
  height: 100%;
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  background-color: white;
}
